# Excepto el archivo .gitignore
!.gitignore

# Bloquear la carpeta que contiene el entorno virtual
.env/

# Bloquear carpetas temporales de Jupyter Notebooks en cualquier nivel
**/.ipynb_checkpoints/


# Bloquear la carpeta del entorno virtual
.env/

# Bloquear carpetas temporales de Jupyter Notebooks en cualquier nivel
**/.ipynb_checkpoints/
